/*
Theme Name: Wedding Bells
Theme URI: 
Description: Drupal 6 Theme for wedding & marriage related blogs and websites
Version: 1.0 Beta
Author: Jason Moore
Author URI: http://arborwebdevelopment.com
-
Ported to Drupal 6 from a Wordpress theme of the same name by Lauri Liimatta.
http://lauriliimatta.com
-
Wedding Bells Theme is released under the GNU General Public License, version 2 (GPL).

For more information about the GPL, please visit:
http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
-
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

html, body {
	height: 100%;
}
body {
	background-color: #f2f7fe;
	font-size: 62.5%;
	font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif;
}
a {
	color: #00AFE7;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#wrapper {
	height: 100%;
	margin: 0 auto;
	width: 960px;
}
#shadow {
	-moz-box-shadow: 0 0 1em #e3eaf4;
	-webkit-box-shadow: 0 0 1em #e3eaf4;
	width: 960px;
	float: left;	
}
#toparea {
	width: 960px;
	float: left;
	margin-top: 0px;
}
#header {
	width: 960px;
	height: 450px;
	margin-top: 0px;
	border-right: 1px solid #e4ecf9;
	background: url('images/default.jpg')
}
#header .title-description {
	margin: 40px 0px 0px 40px;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.8);
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#header h1, #header h1 a {
	font-size: 2em;
	color: #000;
	margin-bottom: 9px;
}
#header h2 {
	font-size: 1.6em;
	color: #55548f;
	font-style: italic;
}
#menulist {
    background-color: #e5edf7; /* fallback color */
    background-image: url('images/menubg.jpg') repeat-x; /* fallback image */
    background-image: -moz-linear-gradient(100% 100% 90deg, #eaf1f9, #f4f9ff);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f9ff), to(#eaf1f9));
	width: 958px;
	height: 47px;
	float: left;
	border-top: 1px solid #e4ecf9;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #e4ecf9;
	border-left: 1px solid #e4ecf9;
}
#page-wrap {
	background: #f7fafe url('images/contentbg.jpg') repeat-y;
	width: 958px;
	height: 100%;
	float: left;
	border-left: 1px solid #e4ecf9;
	border-right: 1px solid #e4ecf9;
	border-top: 1px solid #d2e1f1;
	border-bottom: 1px solid #e4ecf9;
}
#content {
	float: left;
	width: 638px;
	height: 100%;
	color: #2e2c6a;
	border-right: 1px solid #f3f3ff;
	margin-top: 15px;
}
#sidebar {
	width: 279px;
	margin-top: 15px;
	float: left;
	padding: 0px 20px;
}
#footer {
	width: 960px;
	float: left;
	color: #2e2c6a;
	text-align: left;
	padding: 20px 0px;
}
#footer p {
	font-size: 1.2em;
	margin: 0px 30px;
}

/* menu styles */
#menulist .menu {
	list-style: none;
	float: left;
	margin: 0px 0px 0px 8px;
}
#menulist .menu li {
	position:relative;
	display:block;
	float:left;
}
#menulist .menu li a {
	float:left;
	display: block;
	text-decoration: none;
	color: #4a4893;
	font-weight: bold;
	font-size: 1.4em;
	padding: 17px 26px;
}
#menulist .menu li a:hover {
	color: #2e2c6a;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.4);
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	padding: 17px 25px;
}
#menulist .menu ul {
	position:absolute;
	top: 49px;
	left:0;
}
#menulist .menu ul li {
	border: 1px solid #dae7f4;
	margin-top: -1px;
}
#menulist .menu ul li a {
	width: 140px;
	background: #f6faff;
	border: 0;
	padding: 17px 26px;
}
#menulist .menu ul li a:hover {
	background: #f3f7fd;
	border: 0;
	padding: 17px 26px;
}
#menulist .menu ul li ul {
	top: 0;
	left: 192px;
}

/* post styles */
.post-wrap {
	background: #fff;
	padding: 0 30px 20px;
}
.post {
	padding: 20px 0px;
	border-bottom: 1px solid #e4ecf9;
}
.post h2 {
	font-size: 2.4em;
	line-height: 1.8em;
}
.post h2 a {
	color: #3f2274;
}
.post .meta, .post .details {
	font-size: 1.2em;
	line-height: 1.5em;
}
.post .content {
	margin: 10px 0px 0px 0px;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	margin: 5px 0px 10px 0px;
}
.content h1 {
	font-size: 2.2em;
}
.content h2 {
	font-size: 2em;
}
.content h3 {
	font-size: 1.8em;
}
.content h4 {
	font-size: 1.6em;
}
.content h5 {
	font-size: 1.4em;
}
.content h6 {
	font-size: 1.3em;
}
p.tags {
	background: #fff;
	font-size: 1.3em;
	margin: 20px 0px 20px 0px;
}
.content ul {
	list-style-type: disc;
	margin: 15px 0px;
}
.content ul li {
	margin: 0px 0px 0px 15px;
	font-size: 1.4em;
	line-height: 1.6em;
}
.content ul li ul li {
	font-size: 1.0em;
}
.content ol {
	list-style-type: decimal;
	margin: 15px 0px;
}
.content ol li {
	margin: 0px 0px 0px 20px;
	font-size: 1.4em;
	line-height: 1.6em;
}
.content ol li ol li {
	margin: 0px 0px 0px 20px;
	font-size: 1.0em;
}
.content a.more-link {
	font-weight: bold;
}
#content .content, #sidebar .content p  { 
	padding-bottom: 26px; 
	font-size: 1.4em; 
	line-height: 1.6em; 
}
.content img {
	padding: 7px;
	background: #fff;
	border: 1px solid #e4ecf9;
	margin: 0px 10px 10px 10px;
}
.content blockquote {
	border-top: 1px solid #e4ecf9;
	border-bottom: 1px solid #e4ecf9;
	padding: 15px 15px 0px 15px;
	margin: 10px 0px;
	font-style: italic;
	color: #6E6DAF;
}
.content table {
	font-size: 1.3em;
	padding: 5px;
	margin: 15px 0px;
}
.content table tr th,
.entry table td {
	padding: 5px;
}
.content dl {
	margin: 10px 0px;
}
.content dt {
	font-size: 1.4em;
	font-weight: bold;
}
.content dd {
	font-size: 1.4em;
}
.links {
	font-size: 1.2em;
	margin: 5px 0px 0px 0px;
	padding: 18px 0px 0px 0px !important;
	border-top: 1px solid #e4ecf9;
}
.navigation {
	margin: 40px 0px 0px 0px;
	font-size: 1.2em;
	background: #fff;
}
.alignright { float:right;}
.alignleft { float:left; }
.aligncenter { display: block; margin: 0 auto; }
.navigation .alignright a,
.navigation .alignleft a {
	background: #f2f7fe;
	padding: 10px;
	display: block;
	border: 1px solid #e4ecf9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.clear { clear: both; }

/* archive */
#content h2.pagetitle {
	padding: 20px 0px 0px 0px;
	font-size: 2.4em;
	line-height: 1.6em;
}
.archive-post h3 {
	font-size: 1.8em;
	line-height: 1.6em;
}
.archive-post {
	border-bottom: 1px solid #e4ecf9;
}

/* sidebar */
#sidebar ul {
	list-style: none;
}
#sidebar h2 {
	font-size: 2em;
	margin: 30px 0px 8px 0px;
	color: #2e2c6a;
}
#sidebar ul li.widget {
	margin-bottom: 25px;
}
#sidebar .textwidget p {
	color: #2e2c6a;
	font-size: 1.3em;
	line-height: 1.6em;
	padding-bottom: 10px;
}
#sidebar ul li ul a {
	font-size: 1.3em;
	display: block;
	color: #2e2c6a;
	text-decoration: none;
	padding: 10px 0px;
	border-bottom: 1px solid #e4ecf7;
}
#sidebar ul li ul a:hover {
	text-decoration: underline;
}
#sidebar .widget_tag_cloud a,
#sidebar h2 a {
	color: #2e2c6a;
}
#sidebar .widget_recent_comments ul li {
	display: block;
	padding: 10px 0px;
}
#sidebar .menu {
	background: none;
	width: 100%;
	height: 100%;
	float: none;
	border: 0;
}
#sidebar ul.menu,
#sidebar ul.sub-menu,
#sidebar ul.sub-menu ul.sub-menu {
	list-style: none;
	float: none;
}
#sidebar ul.menu li,
#sidebar ul.sub-menu li,
#sidebar ul.sub-menu li ul.sub-menu li {
 	float: none;
 	border: 0;
 	display: inherit;
}
#sidebar ul.sub-menu li {
	padding-left: 10px;
}
#sidebar ul.menu li a {
	font-size: 1.3em;
	display: block;
	color: #2e2c6a;
	text-decoration: none;
	padding: 10px 0px;
	border-bottom: 1px solid #e4ecf7;
}
#sidebar ul.menu li a:hover {
	text-decoration: underline;
}
#sidebar ul.sub-menu li a {
	font-size: 1.3em;
	display: block;
	color: #2e2c6a;
	text-decoration: none;
	padding: 10px 0px;
	border-bottom: 1px solid #e4ecf7;
	font-weight: normal;
}
#sidebar ul.sub-menu li a:hover {
	text-decoration: underline;
	border: 0;
	border-bottom: 1px solid #e4ecf7;
}
#sidebar .widget_calendar table {
	font-size: 1.3em;
}
#sidebar .widget_calendar table caption {
	font-weight: bold;
	padding: 5px 0px 15px 0px;
}
#sidebar .widget_calendar table tr th {
	padding: 10px;
	border: 1px solid #e4ecf7;
	color: #2e2c6a;
}
#sidebar .widget_calendar table tr td {
	padding: 10px;
	border: 1px solid #e4ecf7;
	text-align: center;
}
#sidebar .widget_calendar table tr td#next,
#sidebar .widget_calendar table tr td#prev,
#sidebar .widget_calendar table tr td.pad {
	padding: 10px;
	text-align: center;
}
#sidebar .widget_calendar table tr td.pad {
	background: #e4ecf7;
}

/* seach box styles */
#searchform {
	margin: 10px 0px;
}
#sidebar .form-text {
	padding: 8px;
	border: 1px solid #c7d0df;
	width: 180px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 0px;
}
#sidebar .form-submit {
	padding: 7px;
	color: #2e2c6a;
	background-color: #d3dcea;
	border: 1px solid #c7d0df;
	margin-left: -3px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 5px;
}
#search .form-item label {
  display: none;
}
/* comments */
#respond h3 {
	font-size: 1.6em;
	line-height: 1.8em;
	margin: 15px 0px 5px 0px;
	font-family: Helvetica, Arial, sans-serif;
}
h3#comments {
	font-size: 1.6em;
	line-height: 1.8em;
	background: #fff;
	margin: 30px 0px 10px 0px;
	font-family: Helvetica, Arial, sans-serif;
}
#commentform p.loggedin {
	font-size: 1.2em;
	margin-bottom: 12px;
}
#commentform input {
	padding: 7px;
	margin: 0px 8px 8px 0px;
	border: 1px solid #c7d0df;
	width: 190px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.1em;
	font-family: Helvetica, Arial, sans-serif;
}
#commentform textarea {
	width: 555px;
	padding: 8px;
	border: 1px solid #c7d0df;
	margin: 0px 0px 8px 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.1em;
	font-family: Helvetica, Arial, sans-serif;
}
#commentform #submit {
	font-size: 1.2em;
	font-weight: bold;
	padding: 9px;
	margin: 0 !important;
	color: #2e2c6a;
	background-color: #d3dcea;
	border: 1px solid #c7d0df;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
ol.commentlist { list-style:none; }
ol.commentlist li { }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment { padding: 15px 0px; }
ol.commentlist li.comment div.comment-author { margin: 5px 0px; }
ol.commentlist li.comment div.vcard { font-size: 1.4em; }
ol.commentlist li.comment div.vcard cite.fn { font-weight: bold; font-style: normal; }
ol.commentlist li.comment div.vcard cite.fn a.url { color: #00AFE7; text-decoration: none; }
ol.commentlist li.comment div.vcard cite.fn a.url:hover { text-decoration: underline; }
ol.commentlist li.comment div.vcard img.avatar { border: 1px solid #ccc; float: left; margin: 0px 8px 0px 0px; }
ol.commentlist li.comment div.vcard img.avatar-32 {}
ol.commentlist li.comment div.vcard img.photo {}
ol.commentlist li.comment div.vcard span.says { display: none; }
ol.commentlist li.comment div.commentmetadata { margin-bottom: 7px; }
ol.commentlist li.comment div.comment-meta { margin: 5px 0px 15px 0px; }
ol.commentlist li.comment div.comment-meta a { color: #000; text-decoration: none; font-style: italic; }
ol.commentlist li.comment div.comment-meta a:hover { text-decoration: underline; }
ol.commentlist li.comment p { font-size:1.4em; line-height: 1.6em; margin:0 0 10px 0px; }
ol.commentlist li.comment ul { list-style:square; margin:0 0 1em 2em; }
ol.commentlist li.comment div.reply { font-size:1.2em; }
ol.commentlist li.comment div.reply a { font-weight:bold; color: #00AFE7; text-decoration: none; }
ol.commentlist li.comment div.reply a:hover { text-decoration: underline; }
ol.commentlist li.comment ul.children { list-style:none; margin:1em 0 0; text-indent:0; }
ol.commentlist li.comment ul.children li { }
ol.commentlist li.comment ul.children li.alt {}
ol.commentlist li.comment ul.children li.bypostauthor {}
ol.commentlist li.comment ul.children li.byuser {}
ol.commentlist li.comment ul.children li.comment {}
ol.commentlist li.comment ul.children li.comment-author-admin {}
ol.commentlist li.comment ul.children li.depth-2 { border-top: 1px solid #e4ecf9; margin:0 0 .25em 1.5em; }
ol.commentlist li.comment ul.children li.depth-3 { border-top: 1px solid #e4ecf9; margin:0 0 .25em 1.5em; }
ol.commentlist li.comment ul.children li.depth-4 { border-top: 1px solid #e4ecf9; margin:0 0 .25em 1.5em; }
ol.commentlist li.comment ul.children li.depth-5 { border-top: 1px solid #e4ecf9; margin:0 0 .25em 1.5em; }
ol.commentlist li.comment ul.children li.odd {}
ol.commentlist li.even { background: #fff; }
ol.commentlist li.odd { background:#fff; }
ol.commentlist li.parent { }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even { background: #f7fafe; border-top: 1px solid #e4ecf9; border-bottom: 1px solid #e4ecf9; padding: 15px 10px; }
ol.commentlist li.thread-odd { padding: 15px 10px; }

/* mix */
.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 5px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}
.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}
.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 4px 4px 5px;
   margin: 0;
}

/* Menu CSS */
/* Primary Menu
-------------------------------------------------------------- */
#primary-menu {                                   /* menu layout */
  display: block;
  padding: 0;
  position: relative;
}

#primary-menu ul.menu {
  margin: 0;
}

#primary-menu ul.menu li {                        /* top item layout */
  background-image: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0 8px 0 0;
  position: relative;
  /*width: 75px;*/
}

#primary-menu ul.menu li a,
#primary-menu ul.menu li a:link,
#primary-menu ul.menu li a:visited {
  display: block;
}

#primary-menu ul.menu li ul {
  background: #fff;
  left: -999em;
  padding: 0;
  position: absolute;
}
  
#primary-menu ul.menu li:hover ul {
  display: block;
  left: auto;
}
  
#primary-menu ul.menu li ul li {
  float: left;
  font-size: 0.857em;
  height: auto;
  margin: 0;
  padding: 0;
  width: 140px;
  border-bottom: 1px solid #FFF;
}
  
#primary-menu ul.menu li ul li a,
#primary-menu ul.menu li ul li a:link,
#primary-menu ul.menu li ul li a:visited {
  background: transparent;
  display: block;
  margin-top: 5px 0;
  padding: 5px;
  text-decoration: none;
}

#primary-menu ul.menu li ul li a:hover,
#primary-menu ul.menu li ul li a:active,
#primary-menu ul.menu li ul li a.active {
  background: transparent;
  text-decoration: underline;
}

/* Custom CSS */
.left {
  float: left;
}

.right {
  float: right:
}
#footer .right {
  text-align: right;
}
#header .site-logo {
  float: left;
}
#header .site-name {
  float: left;
  padding-left: 10px;
}
#header .site-slogan {
  padding-left: 20px;
}
#mission {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
}

/* Content Top & Bottom CSS */
#content-top {
  padding: 30px 30px 0;
  margin-top: 15px;
  padding: 0 30px;
}
#content-bottom {
  padding: 0 30px;
}

#content-top h2 {
  color: #2E2C6A;
  font-size: 2em;
  margin: 30px 0 8px;
}
#content-bottom h2 {
  color: #2E2C6A;
  font-size: 2em;
  margin: 0 0 8px;
}